@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Hide scrollbars across browsers */
::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
